<!DOCTYPE html>
<% var pageLanguage = config.language || theme.language; %>
<html lang="<%=pageLanguage%>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%
  var pageTitle = page.title || config.subtitle || '';
  if (is_archive()) pageTitle = 'Archives';
  if (is_tag()) pageTitle = 'Tag: ' + page.tag;
  if (is_category()) pageTitle = 'Category: ' + page.category;
  if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
  if (is_year()) pageTitle += ': ' + page.year;
  pageTitle += ' [ ' + config.title + ' ]';
  %>
  <title><%=pageTitle%></title>
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from config.yml -->
    <% theme.stylesheets.forEach(function(url) { %>
      <link rel="stylesheet" href="<%=url%>">
    <% }); %>
  <% } %>
  
  <% if (theme.leancloud.app_id && theme.leancloud.app_key) { %>
  <script src="//cdn1.lncld.net/static/js/3.1.1/av-min.js"></script>
    <script id="leancloud">
      AV.init({
          appId: "<%- theme.leancloud.app_id %>",
          appKey: "<%- theme.leancloud.app_key%>"
      });
    </script>
<% } %>
</head>